 #loaderOverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.85);
  z-index: 9999;
  color:#FFF;
  font-weight: bold;
  font-size:2em;
  text-align: center;
}
.loaderOverlayContent{
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#247cd3;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version */
}
